@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.title-button {
    background: #efecff;
    color: #5236ff;
    border-radius: 25px;
    width: 9%;
    font-size: unset;
    border: none;

}



.card-container {
  width: 21%;
  border: transparent;
  border-radius: 0%;
  box-shadow: none;
  text-align: center;
}


.try-now {
  color: #5236ff;
  text-decoration: underline;
}


.custom-heading {
  font-size: 2rem;
}

@media (min-width: 640px) {
  .custom-heading {
    font-size: 2.5rem;
  }
}

.title-font {
  font-weight: bold;
  margin-bottom: 0.5rem; /* mb-2 */
  color: #010101;
}



.features-container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
}


.features-subcontainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 2rem;
}


.card-flex {
  justify-content: space-between;
  display: flex;
}



.work-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.content-container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 5rem;
  padding-right: 5rem;
}


.content-title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.productivity-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-direction: column;
  align-items: center;
}


.productivity-subcontainer {
  max-width: 32rem;
  width: 100%;
  width: 50%;
  width: 83.333333%;
  margin-bottom: 2.5rem;
  margin-bottom: 0;
}


.productivity-text {
  flex-grow: 1;
  width: 50%;
  padding-left: 6rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  align-items: center;
  text-align: center;
}